.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;

    input {
        width: 100%;
        padding: 1rem 2rem;
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;

    svg {
        cursor: pointer;
    }
}
